Repository prog-g/prog-g.github.io, pull requests merged in 2018-10, with the labels that each got.

#30 岐大祭2018 AdC1日目
  _posts/2018-10-20-電子書籍を作ろうと思って頑張った話.md
  tags/岐大祭2018.html
Labels: new post :incoming_envelope:

#31 岐大祭2018 AdC2日目
  _posts/2018-10-21-Unityでスクリプトからメッシュを生成する.md
  assets/2018/Dynamic_Mesh.zip
  assets/2018/Dynamic_Mesh_Inspector.png
  assets/2018/Dynamic_Mesh_Sample1.png
  assets/2018/Dynamic_Mesh_Sample2.png
  assets/2018/Dynamic_Mesh_Sample3.png
  assets/2018/Dynamic_Mesh_Sample4.png
  assets/2018/Dynamic_Mesh_Sample5.png
  assets/2018/Dynamic_Mesh_Tex.png
  assets/2018/Triangles.png
  assets/2018/UV.png
  assets/2018/UV_Conflict.png
  assets/2018/Vertices.png
Labels: new post :incoming_envelope:

#35 add `overflow-wrap: break-word;`
  assets/css/style.scss
Labels: fix :wrench:

#33 岐大祭2018 AdC3日目
  .textlintrc
  _posts/2018-10-22-信長の野望風のゲームを行き当たりばったりで作ってみた話.md
Labels: new post :incoming_envelope:

#32 connpass と slack へのリンクを追加する
  _config.yml
  _layouts/default.html
  assets/css/style.scss
  assets/images/Email_Icon_Public_Domain.svg
  assets/images/GitHub-Mark-Light-120px-plus.svg
  assets/images/GitHub.svg
  assets/images/Twitter.svg
  assets/images/Twitter_Social_Icon_Circle_White.svg
  assets/images/connpass.svg
  index.md
Labels: enhancement

#38 岐大祭2018 AdC5日目
  _posts/2018-10-24-はじめてのゲーム製作.md
Labels: new post :incoming_envelope:

#34 岐大祭2018 AdC6日目
  _posts/2018-10-25-音声認識について.md
Labels: new post :incoming_envelope:

#39 自然言語処理の前処理の話
  _posts/2018-10-26-自然言語処理の前処理の話.md
Labels: new post :incoming_envelope:
