Repository prog-g/prog-g.github.io, pull requests merged in 2018-04, with the labels that each got.

#5 Add karaoke
  _posts/2018-04-02-新歓の予定.md
Labels: post fix :black_nib:

#6 add CircleCI settings
  .circleci/config.yml
  .gitignore
  Gemfile
  _layouts/default.html
  _layouts/post.html
  _layouts/tag.html
  _posts/2018-04-02-新歓の予定.md
  index.md
Labels: new feature :gift:

#10 リンクバナーの追加
  _config.yml
  _layouts/default.html
  assets/css/style.scss
  assets/images/Email_Icon_Public_Domain.svg
  assets/images/GitHub-Mark-Light-120px-plus.svg
  assets/images/Twitter_Social_Icon_Circle_White.svg
Labels: css :gift:, enhancement
