Repository prog-g/prog-g.github.io, pull requests merged in 2020-04, with the labels that each got.

#67 新型肺炎の流行に伴う活動方針
  _posts/2020-04-04-新型肺炎の流行に伴う活動方針.md
  tags/お知らせ.html
Labels: new post :incoming_envelope:

#69 新入生歓迎ビデオ会議のお知らせ
  _posts/2020-04-05-新入生歓迎ビデオ会議のお知らせ.md
Labels: new post :incoming_envelope:

#70 過去の記事にお知らせタグを追加
  _posts/2018-04-02-新歓の予定.md
  _posts/2019-04-05-新歓の予定.md
Labels: fix post :black_nib:

#71 Zoom 会議にブラウザでも参加できると書く
  _posts/2020-04-05-新入生歓迎ビデオ会議のお知らせ.md
Labels: fix post :black_nib:

#74 Fix article 2020-04-09-OpenNMTで機械翻訳.md
  _posts/2020-04-09-OpenNMTで機械翻訳.md
  tags/機械学習.html
Labels: new post :incoming_envelope:

#76 Safari におけるコードブロック内の折り返しを無効化
  assets/css/style.scss
Labels: css :gift:, fix :wrench:

#75 OpenNMT記事の修正
  _posts/2020-04-09-OpenNMTで機械翻訳.md
Labels: fix post :black_nib:
